<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50)">
	<!-- wp:group {"tagName":"article","metadata":{"name":"Article"},"align":"full","layout":{"type":"default"}} -->
	<article class="wp-block-group alignfull">
		<!-- wp:gridible/container {"tagName":"header","layout":{"type":"constrained"},"metadata":{"name":"Gridible Container - Header"}} -->
		<header class="wp-block-gridible-container alignfull" style="padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30)">
			<!-- wp:gridible/responsive-spacer {"height":"var:preset|spacing|60","visibility":{"small":false,"medium":true,"large":true}} -->
			<div class="wp-block-gridible-responsive-spacer gridible-hidden--sm" style="height:var(--wp--preset--spacing--60)" aria-hidden="true"></div>
			<!-- /wp:gridible/responsive-spacer -->

			<!-- wp:gridible/grid-container {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}}} -->
			<div
				class="wp-block-gridible-grid-container alignwide gridible-row gridible-row--flex gridible-row__all-start gridible-row__md-start gridible-row__lg-start gridible-row__all-standard gridible-row__md-standard gridible-row__lg-standard"
				style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)"
			>
				<!-- wp:gridible/grid-column {"allSize":12,"mdSize":12,"lgSize":10,"lgOffset":1} -->
				<div class="gridible-col gridible-col__12 gridible-col__md-12 gridible-col__lg-10 gridible-offset__lg-1 wp-block-gridible-grid-column">
					<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
					<div class="wp-block-group">
						<!-- wp:post-terms {"term":"category","style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|primary-2"}},"color":{"text":"var:preset|color|primary-1"}}},"layout":{"selfStretch":"fit","flexSize":null},"typography":{"fontStyle":"normal","fontWeight":"700"}},"textColor":"primary-1","fontSize":"golf"} /-->

						<!-- wp:paragraph {"style":{"spacing":{"margin":{"right":"12px","left":"12px"}}},"fontSize":"golf"} -->
						<p class="has-golf-font-size" style="margin-right:12px;margin-left:12px">—</p>
						<!-- /wp:paragraph -->

						<!-- wp:post-date {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"golf"} /-->
					</div>
					<!-- /wp:group -->

					<!-- wp:group {"metadata":{"name":"Responsive Offsets"},"layout":{"type":"constrained"}} -->
					<div class="wp-block-group">
						<!-- wp:gridible/responsive-spacer {"height":"var:preset|spacing|40","visibility":{"small":false,"medium":true,"large":true}} -->
						<div class="wp-block-gridible-responsive-spacer gridible-hidden--sm" style="height:var(--wp--preset--spacing--40)" aria-hidden="true"></div>
						<!-- /wp:gridible/responsive-spacer -->

						<!-- wp:gridible/responsive-spacer {"height":"var:preset|spacing|30","visibility":{"small":true,"medium":false,"large":false}} -->
						<div class="wp-block-gridible-responsive-spacer gridible-hidden--md gridible-hidden--lg" style="height:var(--wp--preset--spacing--30)" aria-hidden="true"></div>
						<!-- /wp:gridible/responsive-spacer -->
					</div>
					<!-- /wp:group -->

					<!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"0"}}},"fontSize":"bravo"} /-->

					<!-- wp:post-featured-image {"overlayColor":"contrast","align":"wide","style":{"spacing":{"margin":{"bottom":"0","top":"32px"}}}} /-->
				</div>
				<!-- /wp:gridible/grid-column -->
			</div>
			<!-- /wp:gridible/grid-container -->
		</header>
		<!-- /wp:gridible/container -->

		<!-- wp:gridible/container {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"},"metadata":{"name":"Gridible Container - Section"}} -->
		<section class="wp-block-gridible-container alignfull" style="padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--50)">
			<!-- wp:gridible/responsive-spacer {"height":"var:preset|spacing|40","visibility":{"small":false,"medium":true,"large":true}} -->
			<div class="wp-block-gridible-responsive-spacer gridible-hidden--sm" style="height:var(--wp--preset--spacing--40)" aria-hidden="true"></div>
			<!-- /wp:gridible/responsive-spacer -->

			<!-- wp:gridible/grid-container {"align":"wide"} -->
			<div
				class="wp-block-gridible-grid-container alignwide gridible-row gridible-row--flex gridible-row__all-start gridible-row__md-start gridible-row__lg-start gridible-row__all-standard gridible-row__md-standard gridible-row__lg-standard"
			>
				<!-- wp:gridible/grid-column {"mdSize":2,"lgSize":1,"mdOffset":1,"lgOffset":2,"visibility":{"small":false,"medium":true,"large":true}} -->
				<div class="gridible-col gridible-col__6 gridible-col__md-2 gridible-offset__md-1 gridible-col__lg-1 gridible-offset__lg-2 wp-block-gridible-grid-column gridible-hidden--sm">
					<!-- wp:outermost/social-sharing {"iconColor":"secondary-3","iconColorValue":"#FFFFFF","iconBackgroundColor":"primary-1","iconBackgroundColorValue":"#262F38","size":"has-normal-icon-size","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"className":"is-style-default","layout":{"type":"flex","orientation":"vertical"}} -->
					<ul class="wp-block-outermost-social-sharing has-normal-icon-size has-icon-color has-icon-background-color is-style-default" style="padding-top:0;padding-bottom:0">
						<!-- wp:outermost/social-sharing-link {"service":"x"} /-->

						<!-- wp:outermost/social-sharing-link {"service":"facebook"} /-->

						<!-- wp:outermost/social-sharing-link {"service":"linkedin"} /-->

						<!-- wp:outermost/social-sharing-link {"service":"mail"} /-->
					</ul>
					<!-- /wp:outermost/social-sharing -->
				</div>
				<!-- /wp:gridible/grid-column -->

				<!-- wp:gridible/grid-column {"allSize":12,"mdSize":8,"lgSize":7} -->
				<div class="gridible-col gridible-col__12 gridible-col__md-8 gridible-col__lg-7 wp-block-gridible-grid-column"><!-- wp:post-content {"layout":{"type":"default"},"fontSize":"echo"} /--></div>
				<!-- /wp:gridible/grid-column -->

				<!-- wp:gridible/grid-column {"allSize":12,"mdSize":12,"lgSize":12,"visibility":{"small":true,"medium":false,"large":false}} -->
				<div class="gridible-col gridible-col__12 gridible-col__md-12 gridible-col__lg-12 wp-block-gridible-grid-column gridible-hidden--md gridible-hidden--lg">
					<!-- wp:separator {"backgroundColor":"shade-3"} -->
					<hr class="wp-block-separator has-text-color has-shade-3-color has-alpha-channel-opacity has-shade-3-background-color has-background" />
					<!-- /wp:separator -->

					<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-1"}}},"spacing":{"margin":{"bottom":"var:preset|spacing|30","top":"24px"}}},"textColor":"primary-1","fontSize":"golf"} -->
					<p class="has-primary-1-color has-text-color has-link-color has-golf-font-size" style="margin-top:24px;margin-bottom:var(--wp--preset--spacing--30)"><strong>SHARE</strong></p>
					<!-- /wp:paragraph -->

					<!-- wp:outermost/social-sharing {"iconColor":"secondary-3","iconColorValue":"#FFFFFF","iconBackgroundColor":"primary-1","iconBackgroundColorValue":"#262F38","className":"is-style-default","layout":{"type":"flex","orientation":"horizontal"}} -->
					<ul class="wp-block-outermost-social-sharing has-icon-color has-icon-background-color is-style-default">
						<!-- wp:outermost/social-sharing-link {"service":"x"} /-->

						<!-- wp:outermost/social-sharing-link {"service":"facebook"} /-->

						<!-- wp:outermost/social-sharing-link {"service":"linkedin"} /-->

						<!-- wp:outermost/social-sharing-link {"service":"mail"} /-->
					</ul>
					<!-- /wp:outermost/social-sharing -->
				</div>
				<!-- /wp:gridible/grid-column -->
			</div>
			<!-- /wp:gridible/grid-container -->
		</section>
		<!-- /wp:gridible/container -->
	</article>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
